@{
	ViewBag.PageTitle = "Manage Categories";
	Layout = "_AdminLayout";
}

<div class="mb-4">
	<h2 class="h3">
		Manage Categories
	</h2>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="grid" class="table table-striped table-hover">
		</table>

		<div id="pager">
		</div>
	</div>
</div>

@section scripts
{
	<script>
		$(function () {
			"use strict";

			var formatButtons = function (cellvalue, options, rowObject) {
				return '';
			};

			$("#grid").jqGrid({
				// Server URL and AJAX options
				url: '@Url.Action("GridCategories", "Admin")',
				datatype: "json",
				mtype: 'POST',

				// Columns
				colModel: [
					{ name: "id", label: "ID", width: 10, align: 'center' },
					{ name: "name", label: "Name", width: 50 },
					{ name: "urlSlug", label: "Url Slug", width: 50 },
					{ name: "description", label: "Description", width: 100 },
					{ name: "postCount", label: "#Posts", width: 15, align: 'center', sortable: false },
					{ name: "id", label: "Actions", width: 20, align: 'center', sortable: false, formatter: formatButtons }
				],

				// UI style
				styleUI: "Bootstrap4",
				height: 'auto',
				width: '100%',
				autowidth: true,
				responsive: true,
				altRows: true,
				emptyrecords: 'No records to display',
				caption: "Categories List",
				idPrefix: "gb1_",

				// Pagination options & display number of records
				viewrecords: true,
				pager: '#pager',
				rowNum: 25,
				rowList: [5, 10, 25, 50, 100],

				// Default sorting
				sortname: "Name",
				sortorder: "asc",
			});
		});
	</script>
}
