@model PostFilterModel

@{
	ViewBag.PageTitle = "Manage Posts";
	Layout = "_AdminLayout";
}

<div class="mb-4">
	<h2 class="h3">
		Manage Posts
	</h2>
</div>

<partial name="_PostFilterPanel" model="Model" />

<div class="row">
	<div class="col-md-12">
		<table id="grid" class="table table-striped table-hover">
		</table>

		<div id="pager">
		</div>
	</div>
</div>

@section scripts
{
	<script>
		$(function () {
			"use strict";

			var formatTitle = function (cellvalue, options, rowObject) {
				return `
					<a href="@Url.Action("EditPost", "Admin")/${rowObject.id}" 
						title="Click to view details and edit post">
							${cellvalue}
					</a>
					<p>${rowObject.shortDescription}</p>
				`;
			};

			var formatToggleableStatus = function (cellvalue, options, rowObject) {
				var icon = cellvalue ? "check" : "times";
				var state = cellvalue ? "success" : "danger";
				var fieldName = options.colModel.datafield || options.colModel.name.toLowerCase();
				return '<a class="toggle-status display-4 text-' + state + '" style="cursor: pointer; display: block;" title="Toggle ' +
					options.colModel.label + ' status" data-url="' + options.colModel.actionurl + '" data-id="' +
					rowObject.id + '" data-field="' + fieldName + '"><i class="icon-' + icon + '"></i></a>';
			};

			$("#grid").jqGrid({
				url: '@Url.Action("GridPosts", "Admin")',
				datatype: "json",
				mtype: 'POST',
				colModel: [
					{ name: "id", label: "ID", width: 10 },
					{
						name: "title", label: "Title", width: 120, formatter: formatTitle
					},
					{
						name: "postedDate", label: "Posted Date", width: 25, align: "center", sorttype: "date",
						formatter: "date", formatoptions: { newformat: "d-M-Y" }
					},
					{
						name: "published", label: "Published", width: 20, align: 'center',
						formatter: formatToggleableStatus, actionurl: '@Url.Action("TogglePostFlag", "Admin")'
					},
					{ name: "categoryName", label: "Category", width: 40 }
				],
				styleUI: "Bootstrap4",
				height: '100%',
				width: '100%',
				autowidth: true,
				responsive: true,
				altRows: true,
				viewrecords: true,
				emptyrecords: 'No records to display',
				pager: '#pager',
				idPrefix: "gb1_",
				rowNum: 10,
				rowList: [5, 10, 20, 30],
				sortname: "Id",
				sortorder: "desc",
				caption: "Latest Posts",
				beforeRequest: function () {
					var postParams = $("#grid").jqGrid('getGridParam', 'postData');
					var formData = $('#filterForm').serializeArray();
					var getUnique = function (arr, comp) {
						var unique = arr
							.map(function (e) { return e[comp] })
							// store the keys of the unique objects
							.map(function (e, i, final) { return final.indexOf(e) === i && i })
							// eliminate the dead keys & store unique objects
							.filter(function (e) { return arr[e] })
							.map(function (e) { return arr[e] });
						return unique;
					}
					formData = getUnique(formData, 'name');
					$.each(formData, function (i, field) {
						postParams[field.name] = field.value;
					});
					$("#grid").jqGrid('setGridParam', { postData: postParams });
					postParams = $("#grid").jqGrid('getGridParam', 'postData');
				}
			});

			$("#grid").on("click", ".toggle-status", function (e) {
				var ele = $(this),
					targetUrl = ele.data('url'),
					cid = ele.data('id'),
					fieldName = ele.data('field');

				e.preventDefault();

				$.ajax({
					url: targetUrl,
					data: { id: cid, flagName: fieldName },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							if (response.data) {
								ele.removeClass('text-danger').addClass('text-success');
								ele.find('i').removeClass('icon-times').addClass('icon-check');
							} else {
								ele.removeClass('text-success').addClass('text-danger');
								ele.find('i').removeClass('icon-check').addClass('icon-times');
							}
						} else {
							toastr.error(response.messages.join('<br/>'));
						}
					}
				});

				return false;
			});

			$('#filterForm').submit(function (e) {
				e.preventDefault();
				$("#grid").trigger("reloadGrid");
				return false;
			});
		});
	</script>
}
