@{
	ViewData["PageTitle"] = "Unsubscribed";
	Layout = "_FreeLayout";
}

<section class="ftco-section contact-section px-md-4">
	<div class="container">
		<div class="row d-flex mb-5 contact-info">
			<div class="col-md-12 mb-4">
				<h2 class="h3">
					Unsubscribe Successful
				</h2>
				
				<p class="text-danger font-weight-bold">
					Your email address '@(ViewBag.EmailAddress)' is removed from our system.
					You will not be received new articles and updates from TechBlog
				</p>
			</div>
		</div>
	</div>
</section>
