<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["PageTitle"] - TechBlog</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/aos.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/ionicons.min.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/jquery.timepicker.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/flaticon.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/icomoon.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

	@await RenderSectionAsync("styles", required: false)
</head>
<body>
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle">
			<i></i>
		</a>

		<aside id="colorlib-aside" role="complementary" class="js-fullheight">
			<partial name="_NavBar" />

			<div class="colorlib-footer">
				<partial name="_SubscribeForm" model="new SubscribeModel()" />

				<p class="pfooter">
					Copyright &copy; @DateTime.Now.Year All rights reserved
				</p>
			</div>
		</aside> <!-- END COLORLIB-ASIDE -->

		<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
				<div class="container-fluid">
					<div class="row d-flex">
						<div class="col-lg-8 px-md-5 py-5">
							@RenderBody()
						</div> <!-- END MAIN CONTENT -->

						<div class="col-lg-4 sidebar ftco-animate bg-light pt-5 fadeInUp ftco-animated">
							<partial name="_SideBar" />
						</div> <!-- END SIDE BAR -->
					</div>
				</div>
			</section>
		</div> <!-- END MAIN SECTION -->

	</div> <!-- END PAGE -->
	
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
		</svg>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	<script src="~/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
	<script src="~/js/popper.min.js" asp-append-version="true"></script>
	<script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.easing.1.3.js" asp-append-version="true"></script>
	<script src="~/js/jquery.waypoints.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.stellar.min.js" asp-append-version="true"></script>
	<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
	<script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
	<script src="~/js/aos.js" asp-append-version="true"></script>
	<script src="~/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
	<script src="~/js/scrollax.min.js" asp-append-version="true"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="~/js/google-map.js" asp-append-version="true"></script>
	<script src="~/js/main.js" asp-append-version="true"></script>

	@await RenderSectionAsync("scripts", required: false)
</body>
</html>
