@inject IAuthProvider AuthService

@if (AuthService.IsLoggedIn)
{
	<div class="user-state mb-3">
		<form asp-controller="Admin"
			  asp-action="Logout"
			  method="post">
			<div class="btn-group btn-block">
				<button type="button"
						class="btn btn-success"
						title="Go to Dashboard"
						onclick="location.href='@Url.Action("Dashboard", "Admin")'">
					Hello @AuthService.Username!
				</button>
				<button type="submit" class="btn btn-danger">
					Logout
				</button>
			</div>

		</form>
	</div>
}