<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
	<h3 class="sidebar-heading">
		Social media and other links
	</h3>
	
	<p>
		<ul class="ftco-social">
			<li>
				<a href="https://facebook.com/" title="Facebook">
					<span class="icon-facebook-square"></span>
				</a>
			</li>
			<li>
				<a href="https://stackoverflow.com/" title="MVP Profile">
					<span class="icon-stack-overflow"></span>
				</a>
			</li>
			<li>
				<a href="https://github.com/" title="GitHub">
					<span class="icon-github-square"></span>
				</a>
			</li>
			<li>
				<a href="https://www.twitter.com/" title="Twitter">
					<span class="icon-twitter-square"></span>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/" title="YouTube">
					<span class="icon-youtube-square"></span>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/" title="LinkedIn">
					<span class="icon-linkedin-square"></span>
				</a>
			</li>
		</ul>
	</p>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		Ducimus itaque, autem necessitatibus voluptate quod mollitia 
		delectus aut.
	</p>
</div>