<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Thanks For Subscribing To TechBlog</title>
</head>
<body>
	<h1>Hello there,</h1>
	<p>
		First off, I’d like to extend a warm welcome and
		‘thank you’ for subscribing to the TechBlog newsletter.
		I recognize that your time is valuable and I’m
		seriously flattered that you chose to join us.
	</p>
	<p>
		The TechBlog endeavors to send you only the best content,
		with actionable steps you can take to grow your business
		online and off. If we ever stray from that, just send me
		an email and I’ll do my damndest to get it straightened out.
	</p>
	<p>
		In the meantime, I’d love to hear from you about why
		you’ve subscribed to our list, and what you’re interested
		in learning about. So long as you reply to this email,
		I promise I will too.
	</p>
	<p>
		If you find the information from TechBlog unhelpful, you 
		can unsubscribe at any time by clicking the following link:
		<a href="##UnsubscribeLink##" target="_blank">##UnsubscribeLink##</a>
	</p>
	<p>
		If you need anything, please feel free to give me a shout
		at webmaster@techblog.com.
	</p>
	<p>
		Again, welcome!
	</p>
	<p>
		Best,
	</p>
	<p>
		TechBlog Webmaster
	</p>
</body>
</html>